html{
  height: 100%; 
  margin: 0;
  overflow: auto;
}

body {
  display: flex;
  align-items: center;      /* pionowe centrowanie */
  justify-content: center;  /* poziome centrowanie */
  height: 100vh;
}

@font-face {
  font-family: "ITC Caslon 224 Std";
  src: url("fonts/ITC\ Caslon\ 224\ Std\ Book.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ITC Caslon 224 Std";
  src: url("fonts/ITC\ Caslon\ 224\ Std\ Medium\ Italic.ttf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

h1{
  font-family: "ITC Caslon 224 Std", serif;
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  margin: 0;
  text-align: center;
}

h2 {
  font-family: "ITC Caslon 224 Std"; 
  font-style: italic;
  position: fixed;
  font-weight: 300;
  width: 50%;
  margin: 0; 
  text-align: center;   
  opacity: 0; 
  transform: translateY(20px); 
  animation: fadeIn 2s forwards; 
  animation-delay: 0.5s; 
  z-index: 2;          
}

h3{
  font-family: "ITC Caslon 224 Std", serif;
  font-size: 1.25rem;         /* 20px, ale w rem */
  font-weight: 100;
  letter-spacing: 0.3rem;     /* mniejszy odstęp */
  text-align: center;
  margin-top: 1rem;
  width: 100%;
  max-width: 90vw;
  z-index: 2;
}

h4{
  font-family: "ITC Caslon 224 Std", serif;
  font-size: 1rem; /* zamiast 15px */
  font-weight: 300;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
  text-align: center;
  width: 100%;
  z-index: 2;
  margin-top: 0; /* usuwa dodatkowy margines u góry adresu */
}

h5{
  font-family: "ITC Caslon 224 Std", serif;
  font-size: 1.25rem; /* zamiast 20px */
  font-weight: 600;
  letter-spacing: 0.1rem;
  margin-top: 0.5rem;
  text-align: center;
  width: 100%;
  margin-bottom: 0.2rem; /* mniejszy odstęp pod napisem "Mail" */
}

.portfolio_buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 40px 0;
  top: 10%;
  position: absolute;
}

.portfolio_buttons a {
  font-family: "ITC Caslon 224 Std";
  font-style: italic;
  text-decoration: none;
  color: black;
  font-size: 16px;
  letter-spacing: 1px;
}

.portfolio_buttons a:hover {
  opacity: 0.5;
}

@media (max-width: 768px) {
  .portfolio_buttons {
    position: absolute;
    top: 170px;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;

    display: flex;
    flex-direction: row;
    gap: 25px;

    z-index: 1000;
  }

  .portfolio_buttons a {
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
  }
  }


/*@media (max-width: 768px) {
  .portfolio_buttons {
    position: fixed;
    top: 28%;
    left: 0;

    width: 100%;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    z-index: 9999;
  }

  .portfolio_buttons a {
    font-size: 18px;
    text-align: center;
  }
}*/

/*@media (max-width: 768px) {

  .portfolio_buttons {
    position: relative;
    top: 0;
    margin-top: 2rem;

    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .portfolio_buttons a {
    font-size: 1rem;
  }
}*/

.email-box {
  position: absolute;
  left: 50%;
  top: 300px;
  transform: translateX(-50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}



@media (max-width: 768px) {
  h4 {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
  }

  h5 {
    font-size: 1rem;
    letter-spacing: 0.05rem;
  }
}

.contact-container {
 display: flex;
  flex-direction: column;
  align-items: center;  /* wyśrodkowanie poziome */
  justify-content: flex-start; /* ustawienie elementów u góry */
  padding-top: 25rem; /* odstęp od góry okna */
  padding-bottom: 2rem;
  height: 100vh; /* wysokość na cały ekran */
  text-align: center;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
    letter-spacing: 0.1rem;
  }

  h3 {
    font-size: 1rem;
    letter-spacing: 0.15rem;
    max-width: 95vw;
  }

  /*.contact-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }*/
}

.instagram.link {
  font-family: "ITC Caslon 224 Std", serif;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  text-decoration: none;
  color: black;
  opacity: 0;
  transform: translateY(20px);
  animation: instagramlink 2s forwards;
  animation-delay: 1.5s;
}

@keyframes instagramlink {
  0% {
    opacity: 0;
    transform: translateY(20px); 
  }
  100% {
    opacity: 1;
    transform: translateY(0); 
  }
}

/*@media (max-width: 768px) {
  .instagram.link {
    font-size: 0.9rem;
    bottom: 0.5rem;
    left: 0.5rem;
  }
}*/

.fade-in {
  opacity: 0; 
  transform: translateY(20px); 
  animation: fadeIn 2s forwards; 
  animation-delay: 0.5s; 
}

.fade-in:nth-of-type(2) {
  animation-delay: 1s; 
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px); 
  }
  100% {
    opacity: 1;
    transform: translateY(0); 
  }
}

.fade-in2 {
  opacity: 0;
  transform: translateY(20px); 
  animation: fadeIn 2s forwards; 
  animation-delay: 1s; 
}

@keyframes fade-in2 {
  0% {
    opacity: 0;
    transform: translateY(20px); 
  }
  100% {
    opacity: 1;
    transform: translateY(0); 
  }
}

.fade-in3 {
  opacity: 0; 
  transform: translateY(20px); 
  animation: fadeIn 2s forwards; 
  animation-delay: 1.5s; 
}

@keyframes fade-in3 {
  0% {
    opacity: 0;
    transform: translateY(20px); 
  }
  100% {
    opacity: 1;
    transform: translateY(0); 
  }
}

.fade-in4 {
  opacity: 0; 
  transform: translateY(20px); 
  animation: fadeIn 2s forwards; 
  animation-delay: 1s; 
}

@keyframes fade-in4 {
  0% {
    opacity: 0;
    transform: translateY(20px); 
  }
  100% {
    opacity: 1;
    transform: translateY(0); 
  }
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: flex-start; 
  padding-left: 40px; 
  height: 100vh; 
  opacity: 0; 
  transform: translateY(20px); 
  animation: fadeIn 2s forwards; 
  animation-delay: 0.5s; 
   z-index: 999; /* jeśli coś się chowa pod spodem */
}

@keyframes menu {
  0% {
    opacity: 0;
    transform: translateY(20px); 
  }
  100% {
    opacity: 1;
    transform: translateY(0); 
  }
}

@media (max-width: 768px) {
  .menu {
    position: fixed;
    top: 50%;
    left: 50%;
    right: auto;

    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: auto;

    padding: 0;
    text-align: center;
    box-sizing: border-box;
  }

  .menu a {
    display: block;
    text-align: center;
    margin: 0.4rem 0;
  }
}

body {
  background-color: #F3F0E9;
  height: 100%;             
  margin: 0;
  display: flex;             
  justify-content: center;   
  align-items: center; 
}


@keyframes h2 {
  0% {
    opacity: 0;
    transform: translateY(20px); 
  }
  100% {
    opacity: 1;
    transform: translateY(0); 
  }
}

/*@media (max-width: 768px) {
  h2 {
    left: 1rem;
    font-size: 1rem;
    width: 90%;
  }
}*/

head {
  font-family: "ITC Caslon 224 Std", serif;
  font-weight: 400;
}

a {
 color:black;
 text-decoration: none;
 font-size: 1.5rem;
}

.signature {
 stroke-dasharray: 2500;
 animation: writebase 2s linear 1;
 position: fixed;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center; 
  margin-top: -30px;
  z-index: 2;
}

svg {
  width: 200px;
  height: 200px;
  position: fixed;
  top: 0;
}

.text {
  margin-left: 0; /* lub inna mała wartość */
  margin-top: 0;
  font-size: 1.5rem; /* bardziej elastyczne niż px */
  font-family: "ITC Caslon 224 Std", serif;
  font-weight: 500;
  letter-spacing: 0.25rem;
  color: black;
}


@keyframes writebase {
  0%{
    stroke-dashoffset: 2500;
  }
  80%{
    stroke-dashoffset: 0;
  }
}

.menulink {
  font-family: 'ITC Caslon 224 Std', serif;  
  font-size: 35px;  
  margin-left: -10px;  
  text-transform: uppercase;  
  font-weight: 400;  
  text-decoration: none;  
  color: #000;  
  transform: translateX(-200px);
  display: inline-block;
  padding-top: 30px;
  vertical-align: middle;
  line-height: normal;
  transition: text-decoration 0.3s ease; 
}

.menulink:hover {
  text-decoration: underline;  
  color: #000;  
  stroke-width: 2%;
}


.menu_about_me {
  position: fixed;  
  top: 10px;        
  right: 20px;         
  gap: 20px;
  z-index: 2;
}    

.menu_about_me a {
  text-decoration: none;
  color: #000; 
  font-family: "ITC Caslon 224 Std", serif;
  font-weight: 500;
  padding: 5px 10px; 
}

.about_page {
  overflow: hidden;
}

.h2_about {
  margin-left: 250px;
}

.about_illustration {
  width: 30%;
  height: auto;
  margin-right: 880px;
  opacity: 0; 
  transform: translateY(20px); 
  animation: fadeIn 2s forwards; 
  animation-delay: 1s;  
  z-index: 1;         
}

@media (max-width: 768px) {
  .about_page {
    overflow-x: hidden;
    overflow-y: auto;
  }

  .h2_about {
    width: 85%;
    margin: 0 auto;
    text-align: center;
    line-height: 1.4;
  }

  .about_illustration {
    display: none;
  }
}

/*@media (max-width: 768px) {
  .h2_about {
    margin-left: 20px; 
  }
}
*/

img {
  width: 1400px;
  height: auto;
  position: relative;
}

.Portrait1 {
  width: 370px;
  height: auto;
  margin-right: 0;
  margin-bottom: 0;
  position: absolute;
  top: 130px;
  left: 120px;
  transition: opacity 0.3s ease;
  opacity: 1;
  transform: translateY(20px); 
}

/*@media (max-width: 768px) {
  .Portrait1 {
    width: 90%;
    top: 2rem;
    left: 5%;
    position: relative;
    transform: none;
    animation-delay: 1s;
    opacity: 1;
  }
}*/

.Portrait2 {
  position: absolute;
  width: 370px;
  height: auto;
  top: 130px;
  left: 520px;
  transition: opacity 0.3s ease;
  opacity: 1;
  transform: translateY(20px); 
}

.Portrait3 {
  position: absolute;
  width: 370px;
  height: auto;
  top: 130px;
  left: 920px;
  transition: opacity 0.3s ease;
  opacity: 1;
  transform: translateY(20px); 
}

.Portrait4 {
  width: 370px;
  height: auto;
  position: absolute;
  top: 680px;
  left: 120px;
  transition: opacity 0.3s ease;
  opacity: 1;
  transform: translateY(20px); 
}
  
.Portrait5 {
  width: 370px;
  height: auto;
  position: absolute;
  top: 680px;
  left: 520px;
  transition: opacity 0.3s ease;
  opacity: 1;
  transform: translateY(20px); 
}

.Portrait6 {
  position: absolute;
  width: 370px;
  height: auto;
  top: 680px;
  left: 920px;
  transition: opacity 0.3s ease;
  opacity: 1;
  transform: translateY(20px); 
}

@media (max-width: 768px) {
  .Portrait1,
  .Portrait2,
  .Portrait3 {
    top: 260px;
  }

  .Portrait4,
  .Portrait5,
  .Portrait6 {
    top: 810px;
  }
}

/*@media (max-width: 768px) {
  .Portrait1 {
    top: 30px;
    left: 20px;
    width: 150px; /* lub inna wartość, jeśli obrazek nie ma ustawionej szerokości */
  
  /*.Portrait5 {
    top: 30px;
    left: 20px;
    width: 150px; /* lub inna wartość, jeśli obrazek nie ma ustawionej szerokości */
  



/*@media (max-width: 768px) {
  .Portrait4 {
    top: 200px;
    left: 50%;
    transform: translateX(-50%) translateY(20px);
    width: 80%;
    max-width: 300px;
  }
}*/

.Illustration1 {
  width: 370px;
  height: auto;
  margin-right: 0;
  margin-bottom: 0;
  position: absolute;
  top: 130px;
  left: 120px;
  transition: opacity 0.3s ease;
  opacity: 1;
  transform: translateY(20px);
}


.Illustration2 {
  position: absolute;
  width: 370px;
  height: auto;
  top: 130px;
  left: 520px;
  opacity: 1;                   
  transform: translateY(20px);  
  transition: opacity 0.3s ease;
}

.Illustration3 {
  position: absolute;
  width: 370px;
  height: auto;
  top: 130px;
  left: 920px;
  opacity: 1;                   
  transform: translateY(20px);  
  transition: opacity 0.3s ease;
}

.Illustration4 {
  position: absolute;
  width: 370px;
  height: auto;
  top: 680px;
  left: 120px;
  opacity: 1;                   
  transform: translateY(20px);  
  transition: opacity 0.3s ease;
}

.Illustration5 {
  position: absolute;
  width: 370px;
  height: auto;
  top: 680px;
  left: 520px;
  opacity: 1;                   
  transform: translateY(20px);  
  transition: opacity 0.3s ease;
}

.Illustration6 {
  position: absolute;
  width: 370px;
  height: auto;
  top: 680px;
  left: 920px;
  opacity: 1;                   
  transform: translateY(20px);  
  transition: opacity 0.3s ease;
}

.Tiffany_Logo {
  display: block;
  margin: 0 auto 20px auto;
  width: 180px;
  height: auto;
  position: relative;
  top: -5px;             
}

.Tiffany1 {
  width: 370px;
  height: auto;
  margin-right: 0;
  margin-bottom: 0;
  position: absolute;
  top: 350px;
  left: 120px;
  transition: opacity 0.3s ease;
  opacity: 1;
  transform: translateY(20px);
}

.Tiffany2 {
  width: 370px;
  height: auto;
  margin-right: 0;
  margin-bottom: 0;
  position: absolute;
  top: 350px;
  left: 520px;
  transition: opacity 0.3s ease;
  opacity: 1;
  transform: translateY(20px);
}

.Tiffany3 {
  width: 370px;
  height: auto;
  margin-right: 0;
  margin-bottom: 0;
  position: absolute;
  top: 350px;
  left: 920px;
  transition: opacity 0.3s ease;
  opacity: 1;
  transform: translateY(20px);
}

.Tiffany4 {
  width: 370px;
  height: auto;
  margin-right: 0;
  margin-bottom: 0;
  position: absolute;
  top: 880px;
  left: 120px;
  transition: opacity 0.3s ease;
  opacity: 1;
  transform: translateY(20px);
}

.Tiffany5 {
  width: 370px;
  height: auto;
  margin-right: 0;
  margin-bottom: 0;
  position: absolute;
  top: 880px;
  left: 520px;
  transition: opacity 0.3s ease;
  opacity: 1;
  transform: translateY(20px);
}

.Tiffany6 {
  width: 370px;
  height: auto;
  margin-right: 0;
  margin-bottom: 0;
  position: absolute;
  top: 880px;
  left: 920px;
  transition: opacity 0.3s ease;
  opacity: 1;
  transform: translateY(20px);
}

.Live_Event_Illustrations {
  padding-bottom: 200px;
}



@media (max-width: 768px) {
  .illustration4 {
    top: auto;      /* usuń sztywne top */
    left: 50%;
    transform: translateX(-50%);
    position: relative; /* zmień z absolute na relative dla lepszego flow na mobilkach */
    margin: 20px auto;  /* marginesy dookoła, wycentrowanie */
    width: 90%;     /* szerokość dopasowana do ekranu */
  }

}




.illustration9 {
  position: absolute;
  top: 650px;  
  left: 50px; 
  margin-right: 0;
  margin-bottom: 0;
}




.description {
  font-size: 20px;
  margin-top: 330px;
  margin-right: 120px;
  position: fixed;
  top: 70px; 
  left: 70px;  
  opacity: 0;
 transform: translateY(20px); 
  animation: fadeIn 2s forwards; 
  animation-delay: 1,5s; 
}

@keyframes ellie_illustration {
  0% {
    opacity: 0;
    transform: translateY(20px); 
  }
  100% {
    opacity: 1;
    transform: translateY(0); 
  }
}




.no-scroll {
 position: fixed;
}




.content {
  font-size: 16px; 
  font-family: "Playfair Display", serif;
  position: fixed;
  top: 250px; 
  right: 70px; 
  width: 300px; 
  line-height: 1.5; 
  opacity: 0;
 transform: translateY(20px); 
  animation: fadeIn 2s forwards; 
  animation-delay: 1,5s; 
}


.contact_page {
  overflow: hidden;
}

@media (max-width: 768px) {
  
  
  .header, .description, .content {
    position: relative;
    left: auto;
    top: auto;
    font-size: 18px; /* Zmniejszona czcionka */
    transform: none;
    opacity: 1;
    animation: none;
  }
  

}

/* Dla bardzo małych ekranów (np. smartfony) */
@media (max-width: 480px) {
  

  .header {
    font-size: 16px;
  }

  .description, .content {
    font-size: 14px;
  }
}

.block {
  display: block;
}

.homepage-body {
  position: fixed;
  overflow: hidden;
}




@keyframes h2 {
  0% {
    opacity: 0;
    transform: translateY(20px); 
  }
  100% {
    opacity: 1;
    transform: translateY(0); 
  }
}

.contact_page1 {
  position: absolute;
  width: 13%; 
  height: auto; 
  top: 50px;
  margin-left: 750px;
  z-index: -1; 
  opacity: 0; 
  transform: translateY(20px); 
  animation: fadeIn 2s forwards; 
  animation-delay: 1s;  
  z-index: 1;         
}

@media (max-width: 768px) {
  .contact_page1 {
    display: none;
  }
}

.contact_page2 {
 position: absolute;
  width: 21%; 
  height: auto; 
  top: 50px;
  margin-left:-750px;
  z-index: -1; 
  opacity: 0; 
  transform: translateY(20px); 
  animation: fadeIn 2s forwards; 
  animation-delay: 1s;  
  z-index: 1; 
}

@keyframes h2 {
  0% {
    opacity: 0;
    transform: translateY(20px); 
  }
  100% {
    opacity: 1;
    transform: translateY(0); 
  }
}

/* Ekrany do 768px (tablety i mniejsze) */
@media (max-width: 768px) {
  /*.about_illustration {
    width: 50%;           
    margin-right: 0;     
    position: relative;   
    opacity: 1;
    transform: none;
    animation: none;
    z-index: 1;
  }
  
  .contact_page1 {
    width: 40%;
    top: 20px;
    margin-left: 0;
    position: relative;
    opacity: 1;
    transform: none;
    animation: none;
    z-index: 1;
  }*/

  .homepage-body {
    position: relative;   /* zamiast fixed, by uniknąć problemów z przewijaniem */
    overflow: visible;
  }
  
  /*.h2_about {
    left: 0;
    text-align: center;
    position: relative;
  }*/
}


/*@media (max-width: 480px) {
  .about_illustration {
    width: 80%;
    margin-right: 0;
  }

  .contact_page1 {
    width: 80%;
    margin-left: 0;
    top: 10px;
  }

   .contact_page2 {
    width: 80%;
    margin-left: 0;
    top: 10px;
  }
  
  .h2_about {
    font-size: 18px;
    left: 0;
  }
}


